input[type='text'] {
  display: inline-block;
  font-size: cRems(24px);
  background: transparent;
  margin: 0 cRems(4px);
  height: cRems(29px);
  padding: 0 cRems(4px);
  border: 0;
  border-bottom: cRems(1px) solid #FFF;
  color: #FFF;

  &:focus {
    border-bottom: cRems(1px) solid #FF0;
    color: #FF0;
    outline: none;
  }
}

button {
  display: inline-flex;
  color: #FFF;
  border: cRems(1px) solid #FFF;
  padding: 0;
  background-color: transparent;
  height: cRems(24px);
  font-size: cRems(20px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(255,255,255,0.2);
    border: cRems(1px) solid #FF0;
    color: #FF0;
  }
  &:active {
    background-color: rgba(255,255,255,0.4);
  }

  &.square {
    width: cRems(24px);
  }
}