@import "_contrast_color";
//SCSS stuffused in other files (variables, functions, etc)

@mixin mobile {
  @media only screen and (max-width : 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width : 768px) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');
$bold: 700;
$extra-bold: 800;

$pt-mono: 'PT Mono', monospace;

$title-font: $pt-mono;
$base-font: $pt-mono;

$black: #000;
$white: #FFF;

$c-palette: (
  "c-white": $white,
  "c-black": $black
);

$base-color: $white;
$base-background-color: $black;
$accent-color: #F0F;

$link-color: #22A2BB; // Link colors
$link-color-hover: #2CC5E0;
$link-color-active: #2ED1EA;
$link-color-visited: #6B8084;