@import "_forms";
@import "_func";

:root {
  margin:0;
  padding:0;

  font-family: $pt-mono;
  background-color: #FFFFFF;
  color: $black;
  line-height: 1.1666;
}

body, html {
  font-smoothing: antialiased;
  margin:0;
  padding:0;
  scroll-behavior: smooth; //Chrome and FF only

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body > * {
  font-size: 18px;

  @include macro {
    font-size: 21px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  //Nonstandard but makes font look nicer
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

svg, img {
  display: block;
  vertical-align: top;
}

// TODO: Reevaluate for template
// Include selection styles
// Included a:not(.btn) or something styles
// Use extend more for ^

a, a:visited, a:active {
  color: $darkBlue;
}
a:hover {
  color: lighten($darkBlue,10%);
}

p {
  font-size: cRems(26px);
  @include desktop {
    font-size: cRems(16px);
  }
}

h2 {
  font-size: cRems(45px);
  @include desktop {
    font-size: cRems(30px);
  }
}

h3 {
  font-size: cRems(40px);
  @include desktop {
    font-size: cRems(26px);
  }
}

h4 {
  font-size: cRems(35px);
  @include desktop {
    font-size: cRems(22px);
  }
}