@import "_forms";
@import "_func";

:root {
  margin:0;
  padding:0;

  font-family: $base-font;
  background-color: $base-background-color;
  color: $base-color;
  line-height: 1.1666;
}

body, html {
  font-smoothing: antialiased;
  margin:0;
  padding:0;
  scroll-behavior: smooth; //Chrome and FF only

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body > * {
  font-size: 18px;

  @include desktop {
    font-size: 21px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  //Nonstandard but makes font look nicer
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

svg, img {
  display: block;
  vertical-align: top;
}

a img {
  border-style:none;
}

::selection, ::-moz-selection
{
  color: $base-background-color;
  background: $accent-color;
}

// TODO: Reevaluate for template
// Include selection styles
// Included a:not(.btn) or something styles
// Use extend more for ^

a, a:visited, a:active {
  color: $link-color;
}
a:hover {
  color: lighten($link-color,10%);
}

p {
  margin: 0 0 25px;

  font-size: 16px;
  @include desktop {
    font-size: 19px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: $bold;
}

h2 {
  font-size: 36px;
  margin: 20px 0;
  @include desktop {
    font-size: 47px;
  }
}

h3 {
  font-size: 31px;
  margin: 15px 0;
  @include desktop {
    font-size: 42px;
  }
}

h4 {
  font-size: 26px;
  margin: 10px 0;
  @include desktop {
    font-size: 37px;
  }
}

h5 {
  font-size: 20px;
  margin: 7px 0;
  @include desktop {
    font-size: 28px;
  }
}